<ng-template #divLoading>
    <div class="d-flex align-items-center">
        <strong>Esperando datos…</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
</ng-template>

<div *ngIf="vegetales; else divLoading">
    <h1>Lista de vegetales</h1>

    <table class="table table table-bordered">
        <thead>
            <tr>
                <td>
                    Código
                </td>
                <td>
                    Descripción
                </td>
                <td>
                    Precio
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vegetal of vegetales">
                <td>
                    {{vegetal.codigo}}
                </td>
                <td>
                    {{vegetal.descripcion}}
                </td>
                <td>
                    {{vegetal.precio | number : '1.2-2'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>